@use 'colors.scss' as *;
@use 'vars.scss' as *;

.home {
	padding: 20px;

	display: flex;
	flex-direction: column;

	gap: 40px;

	align-items: center;

	.empty-teachers-label {
	}

	.home-header {
		display: flex;
		flex-direction: row;

		gap: 5px;

		align-items: center;
	}

	.teachers-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		gap: 20px;

		align-items: center;

		.teacher {
			padding: 20px;

			border: 1px solid $dark;
			border-radius: 4px;

			background: $light;
			box-shadow: $drop-shadow;

			display: flex;
			flex-direction: column;

			gap: 15px;

			width: 200px;

			cursor: pointer;

			transition: $transition;

			.teacher-header {
				display: flex;
				flex-direction: column;

				gap: 5px;

				.header-title {
					display: flex;
					flex-direction: row;

					gap: 10px;

					.teacher-subject {
						color: $dark;
					}
				}

				.teacher-school {
					color: $dark;
				}
			}

			.teacher-ratings {
				display: flex;
				flex-direction: column;

				gap: 8px;

				.star-solid {
					color: $primary;
				}

				.star-gold {
					color: $warning;
				}
			}

			.overall-rating-container {
				display: flex;
				flex-direction: column;

				align-items: center;

				gap: 5px;

				.overall-rating {
					color: $light;
					font-weight: bold;

					font-size: 22pt;

					text-align: center;

					border-radius: 4px;

					display: flex;
					flex-direction: row;

					align-items: center;
					justify-content: center;

					width: 50px;
					height: 50px;

					background: transparent;
				}

				.good-overall-rating {
					background: $success;
				}

				.bad-overall-rating {
					background: $secondary;
				}

				.medium-overall-rating {
					background: $warning;
				}
			}

			.teacher-reviews {
				display: flex;
				flex-direction: column;

				gap: 5px;

				align-items: center;

				.teacher-review {
					display: flex;
					flex-direction: row;

					gap: 10px;

					align-items: center;

					color: $dark;
				}
			}

			.teacher-controls {
				display: flex;
				flex-direction: column;

				align-items: center;
			}
		}

		.teacher:hover {
			border-color: $darkest;
		}
	}
}
