@use 'colors.scss' as *;
@use 'vars.scss' as *;

.input-container {
	border: 1px solid $dark;

	position: relative;

	width: 400px;
	height: 50px;

	box-shadow: $drop-shadow;

	border-radius: 4px;

	display: flex;
	flex-direction: row;

	align-items: center;

	background: $light;

	transition: $transition;

	.input-tooltip-container {
		position: absolute;

		background: $light;

		border: 1px solid $dark;
		border-radius: 4px;

		padding: 10px;

		top: calc(100% - 10px);

		max-width: 250px;

		z-index: 2;

		opacity: 0;

		pointer-events: none;

		transition: $transition;
	}

	.input-tooltip {
		color: $dark;

		margin-left: 10px;

		cursor: pointer;
	}

	.input-tooltip:hover + .input-tooltip-container {
		opacity: 1;
	}

	.input-label {
		position: absolute;

		top: 0;
		left: 10px;

		transform: translate(0, -50%);

		transition: $transition;

		color: $primary;

		.input-label-line-container {
			position: absolute;

			width: 100%;
			height: 100%;

			z-index: -1;

			transform: translateY(-50%);

			.input-label-line {
				background: $light;

				height: 1px;
				width: calc(100% + 4px);

				transform: translate(-2px, -100%);

				z-index: -1;
			}
		}
	}

	.input {
		padding-inline: 10px;

		outline: 0;
		border: 0;

		width: 100%;
	}
}

.input-container:hover {
	border: 1px solid $primary;
}
